<div style="margin-left: 15px ;"><h5>Welcome to Hotel booking app!</h5>
<div>
The Hotel solution has two paths.
<ul>
    <li> UI - Available at Source/UI/HotelAngularApp </li>
    <li> Backend - Available at Source/Backend/HotelSolution.sln </li>
    
</ul>
</div>
<div>
<h5>To run the app - </h5>
Open commandline, go to root\Source\Backend path and build solution using command <i>dotnet build</i>. Then run the project using the command <i>dotnet run --project HotelsAPI/HotelsAPI.csproj</i> <br>
The api should be running at https://localhost:7233. The swagger link is available at <a href="https://localhost:7233/swagger/index.html" target="_blank" style="color: darkblue;"> Hotel API Swagger</a>   <br>
Open commandline, go to root\Source\UI\HotelAngularApp path and type <i>ng serve</i>. Then angular app should run at <a href="http://localhost:4200/hotels" style="color: darkblue;"> Hotels app</a>
</div>
</div>